<!DOC TYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- https://www.bootstrapcdn.com/ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <title>DR Records</title>
    </head>

    <body>
        <h1></h1>
        <div id="app">
            <h2>GET all</h2>
            <button id="getAllButton" v-on:click="getAllRecords" class="btn btn-primary">Get all records</button>



            <ul id="recordlist" v-if="records.length">
                <li v-for="record in records">
                    {{record.id}} {{record.title}} {{record.duration}} {{record.artist}}
                </li>
            </ul>
            <div v-else>No Records</div>
           <!-- <h2>Get by ID (GET)</h2>
            <input v-model="idToGetBy" placeholder="id" type="number" />
            <button v-on:click="getById(idToGetBy)" class="btn btn-primary">Get by id</button>
            <div v-if="singleRecord">
                {{record.id}} {{record.title}} {{record.duration}} {{record.artist}}
            </div>
            <div v-else>No such teacher</div>-->
<!--
            <h2>Delete (DELETE)</h2>
            <input v-model.number="deleteId" placeholder="id" type="number" />
            <button id="deleteButton" v-on:click="deleteTeacher(deleteId)" class="btn btn-warning">Delete</button>
            {{deleteMessage}}

            <h2>Add (POST)</h2>
            <input id="addDataName" v-model="addData.name" placeholder="name" type="text" />
            <input id="addDataSalary" v-model.number="addData.salary" placeholder="salary" type="number" />
            <button id="postButton" v-on:click="addTeacher()" class="btn btn-success">Add</button>
            <div v-if addMessage>
                <div id="addMessage">{{addMessage}}</div>
            </div>
                

            <h2>Update (PUT)</h2>
            <input v-model.number="updateData.id" placeholder="id" type="number" />
            <input v-model="updateData.name" placeholder="name" type="text" />
            <input v-model.number="updateData.salary" placeholder="salary" type="number" />
            <button id="putButton" v-on:click="updateTeacher()" class="btn btn-success">Update</button>
            <div>{{updateMessage}}</div>
        -->
        </div>
        <script src="index.js"></script>
    </body>

    </html>